<a class="item">
        Home
      </a>
      <a class="item">
        Messages
      </a>
      <a class="item">
        Members
      </a>
        <div class="right menu">
          <div class="ui dropdown item">
            Account <i class="dropdown icon"></i>
            <div class="menu">
              <a class="item" data-value="signup">Sign Up</a>
              <a class="item" data-value="signup">Sign In</a>
              <a class="item" data-value="signout">Sign Out</a>
            </div>
          </div>
        </div>
